<!doctype html>
<html>
    {{> head}}
  <body>
    <header>
      <a href="localhost:3000"><h1>{{site.title}}</h1></a>
      <p>{{site.description}}</p>
      <hr>
    </header>
    <main>
      {{{contents}}}
    </main>
  </body>
</html>
